<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <script src="../../public/js/dogMaps.js" type="text/javascript"></script> --}}
    <title>DogsList</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper blue darken-4">
      <a href="/ownerposts" class="brand-logo center">DogsList</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/owners">New Post</a></li>
        <li><a href="/ownerposts">Go to Blog</a></li>
      </ul>
    </div>
  </nav>
    {{{body}}}
</body>
</html>