
<nav>
    <div class="nav-wrapper blue darken-4">
      <a href="/ownerposts" class="brand-logo center">DogsList</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/owners">Post a dog</a></li>
        <li><a href="/ownerposts">Find a dog</a></li>
      </ul>
    </div>
  </nav>

<div class="container blog">
    <div class="row">
      <div class="col-md-12 blog-container">

      </div>
    </div>
  </div>
  <!-- Custom Script -->
  <!-- <script src="js/blog.js" type="text/javascript"></script> -->
  <script src="js/ownerPosts.js" type="text/javascript"></script>
